@import 'vars';
html,body,#app{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow: hidden;
	background:$body-bg;
}
body{
	font-size:16px;
}
*{
	font-family: 'Ubuntu','Arial',sans-serif;
	box-sizing:border-box;
}
.main{
	width: 100%;
	height:100%;
}

.btn{
	background: $btn-bg;
	border:0px;
	color: $btn-color;
	padding:0.5em 1em;
	border-radius:4px;
	&:hover{
		cursor: pointer;
	}
}
.btn-danger{
	background: $accent-color;
}

//ScrollBar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #e4e4e4;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
